.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.landing-page__content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.left-section,
.middle-section,
.right-section {
    padding: 10px;
}

.left-section {
    width: 20%;
    background-color: #f3f2ef;
    /* overflow: hidden; Hide scrollbars */
}

.middle-section {
    width: 60%;
    background-color: #ffffff;
    overflow-y: auto;
}

.right-section {
    width: 20%;
    background-color: #f3f2ef;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .left-section,
    .right-section {
        display: none;
    }

    .middle-section {
        width: 100%;
    }
}
